@import 'bootstrap';
@import "slick-theme";

body {
  overflow-x: hidden;
  padding-bottom: 100px;
}

p, h1 {
  letter-spacing: 0.02em;
}

.container {
    padding-left: $grid-gutter-width;
    padding-right: $grid-gutter-width;
}

// Header & Nav

.header {
  .overlay {
    width: 100%;
    height: 25px;
    background: url('/images/rough-bar.png') center top repeat-x;
    position: absolute;
    top: 22px;
    left: 0;
    right: 0;
    bottom: auto;
    z-index: 0;
  }
  .container {
      padding-left: $grid-gutter-width/2;
      padding-right: $grid-gutter-width/2;
  }
}

.navbar {
  max-height: 29px;
  min-height: 29px;
  font-size: 12px;
  & > .container {
    position: relative;
    z-index: 1;
  }
  li a.highlight {
    background-color: $blue-light;
    &:hover {
      background-color: $blue;
    }
  }
}

.navbar-collapse {
  background-color: rgba($black,0.8);
  @include breakpoint(md) {
    background-color: transparent;
  }
}

.navbar-nav > li {
  & > a {
    padding-top: 0;
    padding-bottom: 0;
    line-height: 29px;
    text-transform: uppercase;
    @include breakpoint(md) {
      &.divider::after {
        content: '|';
        display: inline-block;
        color: $white;
        padding-left: 15px;
        margin-right: -15px;
      }
    }
  }
}

.tplogo {
  margin-left: -86px;
  @include breakpoint(md) {
    margin-left: -12px;
  }
}

// Nav Dropdown
.dropdown .dropdown-menu {
  font-size: 12px;
}

@include breakpoint(md) {
  .dropdown:hover .dropdown-menu {
    display: block;
  }
  .dropdown .dropdown-menu {
    left: 50%;
    right: auto;
    transform: translate(-50%, 0);
    top: 100%;
    padding: 0;
    min-width: 200px;
    font-size: 14px;
    &::before {
      content: ' ';
      display: block;
      color: $gray-nav;
      height: 9px;
      width: 100%;
      top: -9px;
      position: absolute;
      background: url('/images/arrow.png') center bottom no-repeat;
      background-size: 18px 9px;
    }
    & > li > a {
        padding: 12px 24px;
        font-size: 12px;
        @include breakpoint(md) {
          font-size: 14px;
        }
    }
  }
}

// Search

.search {
  width: 234px;
  float: right;
  z-index: 1;
  margin-top: $grid-gutter-width/2;
  margin-right: $grid-gutter-width/2;
  @include breakpoint(md) {
    margin-top: 0;
    margin-right: $grid-gutter-width;
  }
  input:-ms-input-placeholder {
    line-height: 28px;
    height: 28px;
    padding: 0;
  }
  .form-group {
    height: 28px;
  }
  .has-search .form-control-feedback {
    right: initial;
    left: 0;
    color: $gray-dark;
    width: 42px;
    line-height: 28px;
    font-size: 13px;
    height: 28px;
  }
  .has-search .form-control {
    padding: 0 12px 0 36px;
    font-size: 12px;
    line-height: 28px;
    height: 28px;
  }
}



.slick-slider .slick-list {
  overflow: visible;
}

// Athlete Slider

.intro {
  margin-top: 29px;
  background-color: $blue;
  overflow: hidden;
  position: relative;
  height: 300px;
  @include breakpoint(sm) {
    height: 505px;
  }
  .container {
    padding: 0;
  }
  .slick {
    color: #FFF;
    padding: 0;
  }
  .athlete {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    @include breakpoint(sm) {
      height: 505px;
    }
    position: relative;
    .overlay {
      position: absolute;
      background-color: rgba($blue, 0.75);
      height: 100%;
      width: 100%;
    }
  }
  .dombrowski {
    background-image: url('/images/joe-dombrowski.jpg');
  }

  .haskins {
    background-image: url('/images/sarah-haskins.jpg');
    background-position: center left;
  }

  .plante {
    background-image: url('/images/michelle-plante.jpg');
    background-position: center right;
  }

  .overlay, .sliding .slick-current .athlete .overlay {
    opacity: 1;
    transition: opacity 0.75s ease;
  }

  .slick-current .athlete .overlay, .slick-current .athlete .overlay {
    opacity: 0;
    transition: opacity 0.5s ease;
  }

  .profile {
    background-color: rgba($black,0.6);
    z-index: 500;
    display: inline-block;
    bottom: 12px;
    left: 0;
    right: 0;
    top: auto;
    width: 100%;
    position: absolute;
    padding: 0 $grid-gutter-width $grid-gutter-width;
    h3 {
      font-size: 18px;
      font-weight: bold;
      margin-top: 1em;
      margin-bottom: 0.2em;
    }
    p {
      font-size: 18px;
      margin-bottom: 0;
    }
    @include breakpoint(sm) {
      right: auto;
      width: auto;
      left: 35px;
      bottom: 35px;
    }
    @include breakpoint(md) {
      bottom: 35px;
      left: 100px;
      right: auto;
      width: auto;
      padding: 0 30px 18px;
    }
  }

  .profile, .sliding .slick-current .profile {
    opacity: 0;
    transition: opacity 0.5s ease;
  }

  .slick-current .profile {
    opacity: 1;
    transition: opacity 1s ease-in-out;
  }

}


.intro-blurb {
  background-color: $black;
  text-align: center;
  @include breakpoint(sm) {
    height: 146px;
  }
  img {
    width: 100%;
    max-width: 650px;
    padding: 0;
    display: inline;
    @include breakpoint(sm) {
      padding: 20px 0 0;
    }
  }

}

.content {
  margin-bottom: 33px;
  @include breakpoint(md) {
    margin-top: 44px;
  }
  p {
    margin-bottom: 33px;
  }
}

.video-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}
.video-responsive iframe{
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

.side-links {
  margin-top: 1em;
  @include breakpoint(md) {
    margin-top: 0;
  }
  li a {
    background-color: $text-color;
    color: $white;
    text-align: center;
    font-size: 20px;
    padding: 5px 10px;
    @include breakpoint(md) {
      padding: 5px 110px;
      text-align: left;
    }
    &:hover, &:focus {
      background-color: $gray;
    }
  }
  @include breakpoint(md) {
    margin-left: 27px;
  }
}